.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns:repeat(auto-fit, minmax(360px, 1fr));
    border: 1px solid #fff;
}

.container_m{
    display: grid;
    grid-gap: 10px;
    grid-template-columns:repeat(auto-fit, minmax(360px, 1fr));
}
.card p{
   font-weight: bold;

}
