.container {
    /* width: 100%;
    min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.accordion {
    width: 100%;
}
 
.accordion-button {
    width: 100%;
    background-color: #A4DDED;
    border: none;
    color: white;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 4px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
 
.accordion-button .icon {
    margin-left: 10px;
}
.accordion-content{
    color: black;
}